/* .experience_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
} */

.experience_container>div {
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.experience_container>div h3 {
    text-align: center;
    margin-bottom: 2rem;

}

.experience_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience_details {
    display: flex;
    gap: 1rem;
    margin: 15px 0;
}

.experience_backend {
    transition: .5s ease-in-out;
}

.experience_backend:hover {
    background: transparent;

}

.experience_details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}

/* =====================
Media Query (MEDUIUM DEVICES)
===================== */

@media screen and (max-width:1024px) {
    .experience_container {
        margin-left: .9375rem;
    }



    .experience_container>div {
        width: 80%;
        padding: 2rem;
        justify-content: center;
        margin: 0 auto;
    }

    .experience_content {
        justify-content: center;
        padding: 1rem;
    }
}

/* =====================
Media Query (small DEVICES)
===================== */

@media screen and (max-width:600px) {
    .experience_container {
        gap: 4rem;
        margin-bottom: 10rem;
    }

    .experience_container>div {
        padding: 2rem 1rem;
    }

}