@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
}


@media screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }

    * {
        /* border: 1px solid red; */
    }

    .navbar {

        font-size: 8px;
        padding: 0;
        margin-left: -5px;
    }

    .steps-container {
        padding: 0 1rem;
        font-size: .5625rem;
    }

}