@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
}


@media screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }

    .media-center {
        text-align: center;
    }

    .docfoo_logo {
        display: none;
    }

    .menu_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar {
        /* border: 2px solid #00FF00; */
        gap: 55px;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        padding: 0;
        margin: 15px 0 0 0;
        position: fixed;

    }

    .steps-container {
        padding: 0 1rem;
        font-size: .5625rem;
    }

}