@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
}

@media screen and (max-width: 786px) {
    .team-container {
        width: 86%;
    }

    /* * {
        border: 2px solid red;

    } */

    /* .Home-container {
        width: 100vw;
    } */

    .navbar {
        font-size: 9px;
        padding: 0;
        gap: 0;
    }

    .docfo {
        font-size: .5rem;
    }

    .menu {
        gap: 0;
    }

    html {
        width: 90%;
    }
}